.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

.project-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.project {
  margin-bottom: 12px;
  box-shadow: 2px 2px 8px 2px gray;
  background-color: #f0f0f0 !important;
  height: 500px !important;
}

.carousel-temp {
  padding-left: 25%;
}

.exp-content {
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px 2px gray;
}

.exp-content:hover {
  transform: scale(1.01);
}

.card-item {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.gif-container {
  min-width: auto;
  object-fit: cover;
  max-height: 20em;
  object-position: left top;
}

.gif-container-mobile {
  max-height: 20em;
  object-fit: contain;
}

.modal-gif {
  object-fit: contain;
  width: 100%;
  max-height: 30em;
}

.modal-gif-container {
  display: flex;
  justify-content: space-between;
}

.education-content {
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.education-content:hover {
  transform: scale(1.03);
}

.education-card {
  box-shadow: 2px 2px 8px 2px gray;
  background-color: #f0f0f0 !important;
}

.header {
  padding-left: 16px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 60px;
  padding-left: 36px;
  padding-right: 36px;
}

.header-label {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 60px;
  padding-bottom: 64px;
  background-color: black;
}

.education-page {
  margin-bottom: 30px;
}

.custom-nav-link {
  color: white !important;
  cursor: pointer;
}

.modal-list {
  list-style: none;
  padding-left: 0;
}

.skillpage-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  box-sizing: border-box;
}

.skill {
  border: 1px solid;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  border-radius: 50px;
  white-space: nowrap;
  cursor: default;
  color: white;
  font-size: 0.8rem;
}

.section-header-name {
  display: flex;
  justify-content: center;
  scroll-margin-top: 60px;
  color: white;
}

.icon a {
  transition: transform 0.3s ease;
  display: inline-block;
  font-size: 5vh;
  margin-left: 16px;
  margin-right: 16px;
}

.icon a:hover {
  transform: scale(1.5);
}

.icon-list {
  display: flex;
  justify-content: center;
}

.email {
  display: flex;
  justify-content: center;
}

.custom-hr-tag {
  border: 1px solid #f0f0f0;
  opacity: 1;
}

.custom-modal .modal-content {
  background-color: #f0f0f0;
}
