
.carousel-control-prev-icon {
    background-color: black
}

.carousel-control-next-icon {
    background-color: black
  }

.single-project{
    background-color: lightblue;    
}

.carousel {
    width: 100%;
    height: 100px;
}

.card {
    background-color: yellow !important;
}