.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
}

.project {
  height: auto;
  max-width: 40%;
  border: solid 1px black;
  margin-bottom: 12px;
  box-shadow: 10px 10px 10px 10px gray;
}

.carousel-temp {
  padding-left: 25%;
}

.card {
}

.gif-container {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
